@page
@model AddModel
@{
}
<form method="POST">
  <div class="form-group">
    <label asp-for="cliente.Email">Email</label>
    <input type="email" class="form-control" asp-for="cliente.Email">
    <span></span>
    <label asp-for="cliente.CPF">Cpf</label>
    <input type="text" class="form-control" asp-for="cliente.CPF">
    <span></span>
    <label asp-for="cliente.Nome">Nome</label>
    <input type="text" class="form-control" asp-for="cliente.Nome">
    <span></span>
    <label asp-for="cliente.Telefone">Telefone</label>
    <input type="text" class="form-control" asp-for="cliente.Telefone">
    <span></span>
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>