@page
@model ClienteIndexModel
@{
}
<a class="btn btn-primary" asp-area="" asp-page="/Cliente/Add">Novo Cliente</a>
<span>teste</span>
  @foreach (var item in Model.lsclientes)
  {
      <span>@item.Nome</span>
  }